<h1>Productos</h1>

<a href="/carts/69b2e2fd0a9c49b9c58b6954">Ver carrito</a>

<ul>
    {{#each products}}
    <li>
        <a href="/products/{{this._id}}">
            <strong>{{this.title}}</strong>
        </a> - ${{this.price}}
        <br>
        Categoría: {{this.category}}
    </li>
    {{/each}}
</ul>

<div>
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
    {{/if}}
</div>