<h1>{{product.title}}</h1>

<p><strong>Descripción:</strong> {{product.description}}</p>
<p><strong>Precio:</strong> ${{product.price}}</p>
<p><strong>Categoría:</strong> {{product.category}}</p>
<p><strong>Stock:</strong> {{product.stock}}</p>

<form action="/api/carts/69b2e2fd0a9c49b9c58b6954/products/{{product._id}}" method="post">
    <button type="submit">Agregar al carrito</button>
</form>

<br>

<a href="/products">Volver a productos</a>